html,body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
label input[type="checkbox"]
{
    visibility: none;
    display:none;
}
label .bar {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.bar .top{
    bottom:14px;
    height:6px;
    width:80px;
    background-color: white;
    border-radius: 50px;
    position:absolute;
    transition: 0.3s ease;
}
.bar .middle{
    height:6px;
    width:80px;
    background-color: white;
    border-radius: 50px;
    position:absolute;
    transition: 0.3s ease;
}
.bar .bottom{
    top:20px;
    height:6px;
    width:80px;
    background-color: white;
    border-radius: 50px;
    position:absolute;
    transition: 0.3s ease;
}
input[type="checkbox"]:checked ~ .bar .top{
    transform:rotate(-45deg);
    width:70px;
    transform-origin: right;
    top:-25px;
}
input[type="checkbox"]:checked ~ .bar .bottom{
    transform:rotate(45deg);
    width:70px;
    transform-origin: right;
    top:25px;
}
input[type="checkbox"]:checked ~ .bar .middle{
    transform: translateX(20px);
    opacity:0;
}
